/*
TODO Description: What does `{{ .FuncName }}`  do ...
TODO reset this function input args and output args
@param

@return
*/
func {{ .FuncName }}(args... interface{}) (b bool) {
// TODO your cache logic code for redis store ...

return
}