
// {{ .StructName }} is a mapping object for params in request
type {{.StructName}} struct {
// TODO your request params struct field,for example:
// Email      string `form:"email" binding:"required,email"`
// or
// Email      string `form:"email" validate:"required,email"`
// ...
}

// {{ .FuncName }} is a handler function with gin framework
func {{ .FuncName }}(c *gin.Context){
    // validate request params
    form := new({{ .StructName }})
    if err := c.ShouldBind(form); err != nil {
    common.ResponseInvalidParam(c,err)
    return
    }

    // TODO your biz logic code ...

}


