

/*
What does `{{ .FuncName }}`  do ...
TODO reset this function input args and output args
@param

@return
*/
func {{ .FuncName }}(args... interface{}) (b bool) {
    // TODO your model logic code for mysql store ...

    return
}


