
const Mongo{{.ModuleName}}Collection = "{{.ModuleName}}"

/*
TODO What does `{{ .FuncName }}`  do ...
TODO reset this function input args and output args
@param

@return
*/
func {{ .FuncName }}(args... interface{}) (err error) {
    // TODO your repository logic code for mongodb store ...

    return nil
}

